<section class="blog ">
    <div class="container ">

        <div class="col-12 col-md-12 col-sm-6 mt-5 mt-sm-0">
            <section class="list {{ .Kind }}-list">
                {{- $paginator := .Paginator }}
                {{- range $paginator.Pages }}
                <article class="article mb-4">
                    <a href="{{ .Permalink | relURL }}" class="article-titles text-decoration-none ">
                        <h2 class="experience__title  ">{{ .Title }}</h2>
                        {{ with .Params.subtitle }}<h3 class="article-subtitle">{{ . }}</h3>{{ end }}
                    </a>
                    <ul class="article-meta list-unstyled d-flex flex-wrap">
                        <li class="article-meta-date mr-3"><time>{{ .Date.Format (default "January 2, 2006"
                                $.Site.Params.dateFormat) }}</time></li>
                        {{- if .Params.categories }}
                        <li class="article-meta-categories mr-3">

                            <div class="d-flex flex-wrap">
                                {{- range .Params.categories }}
                                <a href="{{ "/" | absURL }}categories/{{ . | urlize }}" class="mr-2">{{ . }}</a>
                                {{- end }}
                            </div>
                        </li>
                        {{- end }}
                        {{- if .Params.tags }}
                        <li class="article-meta-tags">

                            <div class="d-flex flex-wrap">
                                {{- range .Params.tags }}
                                <a href="{{ "tags/" | absURL }}{{ . | urlize }}" class="mr-2 text-decoration-none ">📚{{ . }}</a>
                                {{- end }}
                            </div>
                        </li>
                        {{- end }}
                    </ul>


                    {{- if .Params.image }}
                    <a href="{{ .Permalink | relURL }}"><img src="{{ .Params.image }}" class="article-image" /></a>
                    {{- end }}
                    <div class="article-content mb-3">
                        {{- if .Truncated }}
                        {{ .Summary }}
                        {{- else }}
                        {{ .Content }}
                        {{- end }}
                    </div>
                    <div class="article-readmore "><a class="text-decoration-none"  href="{{ .Permalink | relURL }}">Read more...</a></div>
                    <div class="article-floatclear"></div>
                </article>
                <hr>
                {{- end }}
            </section>
        </div>

    </div>
</section>